In [ ]:
# data types

a=10
b="10"
c="word"
d=None
e='word'
f=True
g=False
h=10.5

print(type(a))     # type function: to find the data type of the variable
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

print(id(a))       #id is a function to find menory location

<class 'int'>
<class 'str'>
<class 'str'>
<class 'NoneType'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'float'>
140704703739288

In [ ]:
# arthematical operators

A=10
B=12
C=A%B
print("The remainder is:",C)

The remainder is: 10

In [13]:
# assignment operatots

j=10
j+=10
print(j)

20

In [10]:
# relational operators

a=10
b=12

print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)
print(a<b)
print(a>b)

False
True
True
False
True
False

In [18]:
# logical operators

a=True
b=False

print(a and b)
print(a or b)
print(not a)

False
True
False

AND-
T AND T =T
T AND F =F
F AND T =F
F AND F =F

OR-
T OR T =T
T OR F =T
F OR T =T
F OR F =F

NOT-
NOT T =F
NOT F =T

In [20]:
# input function

a=input("enter your name")
print("hello",a)
print(type(a))

hello Karthik
<class 'str'>

In [ ]:
# typecasting- changing datatype of another datatype

a=int(input("enter a value for a"))
b=int(input("enter a value for a"))
sum=a+b
print("The sum of values entered is:", sum)

The sum of values entered is: 22

QUESTION- WRITE A PROGRAM TO INPUT SIDE OF A SQUARE AND PRINT ITS AREA

PESUDOCODE- 

BEGIN
WRITE INPUT STATEMENT
TAKE INPUT AS SIDES OF SQUARE
CALCULATE AREA 
PRINT AREA
END

In [2]:
side = float(input("Enter the side of the square: "))
area = side * side
print("Area of the square is:", area)

Area of the square is: 100.0

In [7]:
# f string formating

name="sam"
age=25
salary=250000.9999999
print(f"the name is {name} and the age is {age}")
print (f"the salary is: {salary:.3f}")

the name is sam and the age is 25
the salary is: 250001.000

In [ ]:
# padding 

num=42
print(f"{num:05d}")

00042

In [ ]:
# alignment 

text="python"
print(f"{text:<10}")  # left alignment
print(f"{text:^10}")  # center alignment
print(f"{text:>10}")  #right alignment

In [ ]:
# string basics

a='this is a srring'
b="this is also a string"
c='''this is also another string'''

In [8]:
# concatenation

a=7+8
print(a)

a="mango"
b="apple"
d=a+b
c=a+" "+b

print(c)
print(d)

15
mango apple
mangoapple

In [9]:
# Length - len()

print(len(a))

print()

5

In [ ]:
# sep and end

print(26,27,28,sep='-')           # seprator

print('hello','world',end="*")    # ending each string
print('loading',end='....')     
print('done')

26-27-28
hello world*loading....done

In [19]:
# escape sequence characters

print('hi this is my \nfirst class')   # \n is referd as next line
print('hi this is my \tfirst class')   # \t is referd as tab space

hi this is my
first class
hi this is my 	first class

In [ ]:
# string indexing

name='karthik'
print(name[2])

new='this is a string'
print(new[3])          # positive indexing
print(new[-3])         # negative indexing

r
s
i

In [30]:
# slicing strings - dividing the strings into multiple parts
# string[start:stop:step]

apple="this is a new string"
print(apple[0:6])
print(apple[:])
print(apple[:7])
print(apple[::2])
print(apple[-8:-1])

this i
this is a new string
this is
ti sanwsrn
w strin