Loop-
A loop helps us to repeat the same task again and again without writing the same code many types

Example-
writing attendance for 30 students
printing numbers from 1 to 100
checking marks for each subject

Types of loops-
For loop
While loop

FOR LOOP

A for loop takes one item at a time form a collection and work on it.

Syntax-
for item in collection:
    print(item)

Collection-list/string/range
item-temporary variable

In [ ]:
# basic example

for i in range(5):
    print(i)

# range(5) -> numbers from 0 tp 4 
# i takes one value at a time
# print(i) runs repeatedly until the for loop condition is true

0
1
2
3
4

In [2]:
# print numbers 1 to 5 

for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
# for loop with list items

fruits=["apple","banana","mango"]
for i in fruits:
    print(i)

apple
banana
mango

In [7]:
# loop through a string

name="Python"

for i in name:
    print(i)

# strings are the collection of characters

P
y
t
h
o
n

In [13]:
# numbers list

numbers=[10,20,30]

for n in numbers:
    print(n*4)

40
80
120

In [14]:
# for loop with a dictionary

student={"Name":"Alex","Age":22}

for value in student.values():
    print(value)

Alex
22

In [15]:
student={"Name":"Alex","Age":22}

for key in student:
    print(key)

Name
Age

In [16]:
# Looping through key-value pairs

for key,value in student.items():
    print(key,":",value)

Name : Alex
Age : 22

In [19]:
# Print even numbers

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10