Loop-
A loop helps us to repeat the same task again and again without writing the same code many types

Example-
writing attendance for 30 students
printing numbers from 1 to 100
checking marks for each subject

Types of loops-
For loop
While loop

FOR LOOP

A for loop takes one item at a time form a collection and work on it.

Syntax-
for item in collection:
    print(item)

Collection-list/string/range
item-temporary variable

In [ ]:
# basic example

for i in range(5):
    print(i)

# range(5) -> numbers from 0 tp 4 
# i takes one value at a time
# print(i) runs repeatedly until the for loop condition is true

0
1
2
3
4

In [2]:
# print numbers 1 to 5 

for i in range(1,6):
    print(i)

1
2
3
4
5

In [4]:
# for loop with list items

fruits=["apple","banana","mango"]
for i in fruits:
    print(i)

apple
banana
mango

In [7]:
# loop through a string

name="Python"

for i in name:
    print(i)

# strings are the collection of characters

P
y
t
h
o
n

In [13]:
# numbers list

numbers=[10,20,30]

for n in numbers:
    print(n*4)

40
80
120

In [14]:
# for loop with a dictionary

student={"Name":"Alex","Age":22}

for value in student.values():
    print(value)

Alex
22

In [15]:
student={"Name":"Alex","Age":22}

for key in student:
    print(key)

Name
Age

In [16]:
# Looping through key-value pairs

for key,value in student.items():
    print(key,":",value)

Name : Alex
Age : 22

In [19]:
# Print even numbers

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

For Loop Excercise-

1. Create a list of sales amount values, take a variable to calculate sum of each element in the list and print the total amount

sales=[150,200,75,310,50]

2. Count number of items in a list using for loop and print count

items=["apple","banana","mango","grapes"]

3. take a list of scores calculate total scores and print both total and average scores.

4. take a string as "Python" count letters in it and print the total letter count in a string.

In [16]:
sales=[150, 200, 75, 310, 50]
total=0
for amount in sales:
    total=amount+total
print(total)

785

In [ ]:
items = ["apple", "banana", "mango", "grapes"]
count = 0
for item in items:
    count = count + 1

print("Number of items:", count)

Number of items: 4

In [19]:
scores=[85, 90, 78, 88, 92]

total=0
count=0

for score in scores:
    total=total+score
    count=count+1

average=total/count 

print("Total Score:", total)
print("Average Score:", average)

Total Score: 433
Average Score: 86.6

In [ ]:
text="Python"
count=0

for letter in text:
    count=count+1

print("Total number of letters:", count)

Total number of letters: 6

In [22]:
# count only items greater than 50

items=[50,60,70,80,30,40]
count=0

for i in items:
    if i>50:
        count=count+1
print(count)

3

In [30]:
# count only even numbers

numbers = [1,2,3,4,6,10,1,11,18]
count=0

for num in numbers:
    if num%2==0:
        count=count+1
print(count)

5

In [32]:
# count non empty values

data=["apple","","banana","","mango"]
count=0

for item in data:
    if item:
        count=count+1
print(count)

3

In [33]:
# print high or low
# print high for sale > 100 low for sales < 100

sales=[80,150,60,200]

for sale in sales:
    if sale>100:
        print(sale,"- High")
    else:
        print(sale,"- Low")

80 - Low
150 - High
60 - Low
200 - High

In [34]:
# repleace value 
# replace 0 with missing

data=[10,0,20,0,30]
cleaned_data=[]

for value in data:
    if value ==0:
        cleaned_data.append("missing")
    else:
        cleaned_data.append(value)
print(cleaned_data)

[10, 'missing', 20, 'missing', 30]